In [1]:
import os

import pandas as pd
import numpy as np
import psycopg2

from flask import Flask, jsonify, render_template

In [2]:
conn = psycopg2.connect(dbname="SB_Project", user= "postgres", password="postgres", host="localhost", port = "5432")
cursor = conn.cursor()
app = Flask(__name__)
Indeed = "Indeed"
sql = f"select sum(Revenue), Sources from snider where Sources = '{Indeed}' group by Sources order by sum(Revenue) desc"

In [3]:
cursor.execute(sql)

my_data = []
for row in cursor.fetchall():
    print(row)
    my_data.append(row)

(326362.5144, 'Indeed')

In [4]:
df = pd.DataFrame(my_data)
df

             0       1
0  326362.5144  Indeed

In [5]:
table1 = df.rename(columns={0: "Revenue", 1: "Sources"})
table1

       Revenue Sources
0  326362.5144  Indeed

In [6]:
@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")

In [7]:
@app.route("/names")
def names():
    """Return a list of sample names."""

    # Use Pandas to perform the sql query
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
    return jsonify(list(df.columns)[2:])

In [ ]:
if __name__ == "__main__":
    app.run()

conn.close()