In [1]:
import os

import pandas as pd
import numpy as np
import psycopg2

from flask import Flask, jsonify, render_template

In [2]:
conn = psycopg2.connect(dbname="SB_Project", user= "postgres", password="postgres", host="localhost", port = "5432")
cursor = conn.cursor()
app = Flask(__name__)
sql = "select sum(profit), how_heard from snider group by how_heard order by sum(profit) desc "

In [3]:
cursor.execute(sql)

my_data = []
for row in cursor.fetchall():
    print(row)
    my_data.append(row)

('$818,749.99', 'Friend/Relative Referral')
('$650,281.63', None)
('$326,363.01', 'Indeed')
('$248,906.39', 'Walk-In')
('$227,150.43', 'Craigslist')
('$127,433.86', 'Other web site')
('$60,122.42', 'Zip Recruiter')
('$27,092.05', 'Newspaper Ad')
('$11,321.76', 'Flyer')
('$11,220.06', 'Advanced Careers')
('$5,723.70', 'Monster.com')
('$933.14', 'Broadbean')

In [18]:
df = pd.DataFrame(my_data)

              0                         1
0   $818,749.99  Friend/Relative Referral
1   $650,281.63                      None
2   $326,363.01                    Indeed
3   $248,906.39                   Walk-In
4   $227,150.43                Craigslist
5   $127,433.86            Other web site
6    $60,122.42             Zip Recruiter
7    $27,092.05              Newspaper Ad
8    $11,321.76                     Flyer
9    $11,220.06          Advanced Careers
10    $5,723.70               Monster.com
11      $933.14                 Broadbean

In [33]:
table1 = df.rename(columns={0: "Revanue", 1: "How_Heard"})
table1

        Revanue                 How_Heard
0   $818,749.99  Friend/Relative Referral
1   $650,281.63                      None
2   $326,363.01                    Indeed
3   $248,906.39                   Walk-In
4   $227,150.43                Craigslist
5   $127,433.86            Other web site
6    $60,122.42             Zip Recruiter
7    $27,092.05              Newspaper Ad
8    $11,321.76                     Flyer
9    $11,220.06          Advanced Careers
10    $5,723.70               Monster.com
11      $933.14                 Broadbean

In [5]:
@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")

In [6]:
@app.route("/names")
def names():
    """Return a list of sample names."""

    # Use Pandas to perform the sql query
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
    return jsonify(list(df.columns)[2:])

In [7]:
#if __name__ == "__main__":
    app.run()

conn.close()

IndentationError: unexpected indent (<ipython-input-7-55e76dfd4b2c>, line 2)