In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Data_csv_path = "../Data/Employee_Table.csv"

first_df =  pd.read_csv(Data_csv_path)
first_df.columns

Index(['AIdent', 'Activation', 'Branch', 'City', 'How_Heard'], dtype='object')

In [2]:
ET = pd.DataFrame(first_df[["AIdent", "Branch", 'City', 'How_Heard']])
ET.head(10)

   AIdent            Branch         City                 How_Heard
0  184128  08-Columbus West     Columbus  Friend/Relative Referral
1  184129         05-Elyria       lorain                       NaN
2  184130   03-Independence  bedford hts                Craigslist
3  184131        12-Chicago       Berwyn                Craigslist
4  184132  08-Columbus West     Columbus            Other web site
5  184133        12-Chicago      Chicago  Friend/Relative Referral
6  184134  07-Columbus East    Columbus   Friend/Relative Referral
7  184135   03-Independence    cleveland  Friend/Relative Referral
8  184136         05-Elyria    Avon Lake                Craigslist
9  184137  08-Columbus West     columbus  Friend/Relative Referral

In [7]:
Data_csv_path2 = "../Data/Assignment_Table.csv"

A_df =  pd.read_csv(Data_csv_path2)
A_df.columns

Index(['Performance_Code', 'AIdent', 'Activation', 'Completion', 'Pay_Rate',
       'Bill_Rate', 'Margin'],
      dtype='object')

In [8]:
AS = pd.DataFrame(A_df[['Performance_Code', 'AIdent', 'Activation', 'Completion', 'Pay_Rate', 'Bill_Rate']])
AS.head(10)

,Performance_Code,AIdent,Activation,Completion,Pay_Rate,Bill_Rate
0,Assignment Terminated - No Reason Given,184514,8/9/2017,8/9/2017,8.15,11.82
1,Complete,186334,9/20/2017,9/22/2017,8.15,11.17
2,Complete,186555,9/20/2017,9/25/2017,8.15,11.17
3,Completed Early,210145,12/4/2017,12/20/2017,8.15,11.17
4,Assignment Terminated - Attendance,221151,12/6/2017,12/19/2017,8.15,11.17
5,Assignment Terminated - Attendance,184399,8/15/2017,9/28/2017,8.15,11.08
6,A Quit - Stopped Showing / No Notice,184777,8/15/2017,8/18/2017,8.15,11.08
7,A Quit - Stopped Showing / No Notice,186286,10/2/2017,10/20/2017,8.15,11.08
8,A Quit - Stopped Showing / No Notice,186342,9/15/2017,9/15/2017,8.15,11.08
9,Deleted/Mistakenly entered,186455,10/2/2017,10/2/2017,8.15,11.08

In [10]:
Margin = []
Margin = AS["Bill_Rate"] - AS["Pay_Rate"]
Margin
AS["Margin"] = Margin

AS.min()

Performance_Code    A Quit - Accepted Job with Client or Other Com...
AIdent                                                         184132
Activation                                                   1/1/2018
Pay_Rate                                                         8.15
Bill_Rate                                                       10.56
Margin                                                           1.95
dtype: object

In [11]:
Data_csv_path3 = "../Data/Hours_Worked.csv"

HW_df =  pd.read_csv(Data_csv_path3)
HW_df.columns

Index(['aident', 'Hours_Worked'], dtype='object')

In [13]:
HW = pd.DataFrame(HW_df[['aident', 'Hours_Worked']])


HW.head(10)

   aident  Hours_Worked
0  184132         66.75
1  184132         24.00
2  184132         35.75
3  184132         14.25
4  184132         16.00
5  184133          7.50
6  184135        494.50
7  184137        777.00
8  184139         75.00
9  184139         83.47