In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

Data_csv_path = "../Data/Employee Table.csv"

first_df =  pd.read_csv(Data_csv_path)
first_df.columns

Index(['AIdent', 'Active', 'Assigned', 'Branch', 'Activation Date', 'City',
       'Zip', 'State', 'Birthday', 'Gender', 'Interviewed By Srident',
       'How Heard Of', 'How Heard Of Detail', 'Last Avl', 'Pay Ready',
       'Date Created', 'Interview Date', 'Wotc Eligibility Id'],
      dtype='object')

In [3]:
ET = pd.DataFrame(first_df[["AIdent",'Activation Date', "Branch", 'City', 'How Heard Of']])
ET.head(10)

,AIdent,Activation Date,Branch,City,How Heard Of
0,184128,8/1/2017,08-Columbus West,Columbus,Friend/Relative Referral
1,184129,8/1/2017,05-Elyria,lorain,NaN
2,184130,8/1/2017,03-Independence,bedford hts,Craigslist
3,184131,8/1/2017,12-Chicago,Berwyn,Craigslist
4,184132,8/1/2017,08-Columbus West,Columbus,Other web site
5,184133,8/1/2017,12-Chicago,Chicago,Friend/Relative Referral
6,184134,8/1/2017,07-Columbus East,Columbus,Friend/Relative Referral
7,184135,8/1/2017,03-Independence,cleveland,Friend/Relative Referral
8,184136,8/1/2017,05-Elyria,Avon Lake,Craigslist
9,184137,8/1/2017,08-Columbus West,columbus,Friend/Relative Referral

In [4]:
ET.to_csv("../Data/ET_cleaned.csv", index=True)

In [59]:
Data_csv_path2 = "../Data/Assignments.csv"

A_df =  pd.read_csv(Data_csv_path2)
A_df.columns

Index(['Item ID', 'Skill Code Id', 'Performance Code', 'Order ID', 'AIdent',
       'Start Date', 'End Date', 'Pay Rate', 'Bill Rate', 'Salary',
       'Salary Bill', 'Perf Note', 'User Defined Order Note'],
      dtype='object')

In [60]:
AS = pd.DataFrame(A_df[['Performance Code', 'AIdent', 'Start Date', 'End Date', 'Pay Rate', 'Bill Rate']])
AS.head(10)

,Performance Code,AIdent,Start Date,End Date,Pay Rate,Bill Rate
0,Open,225261.0,2/4/2018,NaN,8.00,13.88
1,Assignment Terminated - No Reason Given,184514.0,8/9/2017,8/9/2017,8.15,11.82
2,Complete,186334.0,9/20/2017,9/22/2017,8.15,11.17
3,Complete,186555.0,9/20/2017,9/25/2017,8.15,11.17
4,Completed Early,210145.0,12/4/2017,12/20/2017,8.15,11.17
5,Assignment Terminated - Attendance,221151.0,12/6/2017,12/19/2017,8.15,11.17
6,Assignment Terminated - Attendance,184399.0,8/15/2017,9/28/2017,8.15,11.08
7,A Quit - Stopped Showing / No Notice,184777.0,8/15/2017,8/18/2017,8.15,11.08
8,A Quit - Stopped Showing / No Notice,186286.0,10/2/2017,10/20/2017,8.15,11.08
9,A Quit - Stopped Showing / No Notice,186342.0,9/15/2017,9/15/2017,8.15,11.08

In [64]:
Margin = []
Margin = AS["Bill Rate"] - AS["Pay Rate"]
Margin
AS["Margin"] = Margin

AS.min()

AIdent       184132.00
Pay Rate          8.00
Bill Rate        10.56
Margin            1.95
dtype: float64

In [74]:
AS.to_csv("../Data/AS_cleaned.csv", index=True)

In [66]:
Data_csv_path3 = "../Data/Hours Worked.csv"

HW_df =  pd.read_csv(Data_csv_path3)
HW_df.columns

Index(['Item_ID', 'aident', 'Hours_Worked', 'Start_Date', 'End_Date'], dtype='object')

In [75]:
HW = pd.DataFrame(HW_df[['aident', 'Hours_Worked']])

HW.to_csv("../Data/HW_cleaned.csv", index=True)
HW.max()

aident          225341.0
Hours_Worked      1206.0
dtype: float64