In [2]:
import os

import pandas as pd
import numpy as np
import psycopg2

from flask import Flask, jsonify, render_template

In [103]:
conn = psycopg2.connect(dbname="SB_Project", user= "postgres", password="postgres", host="localhost", port = "5432")
cursor = conn.cursor()
app = Flask(__name__)
sql = "select sum(profit), how_heard from snider group by how_heard order by sum(profit) desc "

In [104]:
cursor.execute(sql)

my_data = []
for row in cursor.fetchall():
    print(row)

('$818,749.99', 'Friend/Relative Referral')
('$650,281.63', None)
('$326,363.01', 'Indeed')
('$248,906.39', 'Walk-In')
('$227,150.43', 'Craigslist')
('$127,433.86', 'Other web site')
('$60,122.42', 'Zip Recruiter')
('$27,092.05', 'Newspaper Ad')
('$11,321.76', 'Flyer')
('$11,220.06', 'Advanced Careers')
('$5,723.70', 'Monster.com')
('$933.14', 'Broadbean')

In [ ]:
@app.route("/")
def index():
    """Return the homepage."""
    return render_template("index.html")

In [ ]:
@app.route("/names")
def names():
    """Return a list of sample names."""

    # Use Pandas to perform the sql query
    stmt = db.session.query(Samples).statement
    df = pd.read_sql_query(stmt, db.session.bind)

    # Return a list of the column names (sample names)
    return jsonify(list(df.columns)[2:])

In [ ]:
if __name__ == "__main__":
    app.run()

conn.close()